.btn {
    border: 1px solid grey;
    font-size: 3rem;
    padding: .5rem;
    margin: .5rem;
    cursor: pointer;
}

.name-label {
    font-size: 2rem;
    float: left;
    padding: .5rem;
    margin: .5rem;
}

.name-label:hover {
    background-color: grey;
}